
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: rgb(255, 252, 249);
}


/* .card-img-overlay:hover {
    background-color: black;
    opacity: 0.3;
    cursor: pointer;
} */

/* .card-body {
    position: relative;
} */

.card-img-top {
    display: block;
    width: 100%;
    height: auto;

}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  opacity: 0.5;
}

.card-body:hover .overlay {
    height: 60%;
}

.card-body:hover {
    cursor: pointer;
}

/* .text {
    color: white;
    font-size: 0.55rem;
    text-align: justify;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
   
  } */
  

  .text {
      font-size: 0.7rem;
      text-align: justify;
      padding-right: 1rem;
      padding-left: 1rem;
      color: white;
      text-transform: capitalize;
  }

  .nav-link:hover {
    background-color: rgb(61, 61, 61);
    color: black;
    /* border: 1px solid rgb(255, 252, 249); */
    border-radius: 0.2rem;
  }

  .footer {
      background-color: rgb(22, 22, 22);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: rgb(255, 252, 249);
      font-size: 0.9rem;
  }